@use "core" as *;

.wrapper {
  padding: 0 3rem;
  max-width: 127.6rem;

  h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-family: $font-family-primary;
  }

  span {
    font-family: $font-family-secondary;
  }
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -1rem;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  display: flex;
  flex: 0 1 25%;

  span {
    margin-bottom: 1rem;
  }

  .img-wrapper {
    // max-width: 11.8rem;
    max-height: 28.7rem;
    img {
      width: 100%;
      height: auto;
    }
  }
}
