<div class="wrapper">
  <h2 class="main-title">Swapi</h2>
  <div class="categories">
    <div class="category"
         [routerLink]="['/characters/']">
      <p class="category-name red">Characters</p>
      <div class="img-wrapper">
        <img src="/assets/img/character.jpeg"
             alt="">
      </div>
    </div>
    <div class="category"
         [routerLink]="['/films/']">
      <p class="category-name blue">Films</p>
      <div class="img-wrapper">
        <img src="/assets/img/films.jpeg"
             alt="">
      </div>
    </div>
    <div class="category"
         [routerLink]="['/species/']">
      <p class="category-name green">Species</p>
      <div class="img-wrapper">
        <img src="/assets/img/species.jpeg"
             alt="">
      </div>
    </div>
    <div class="category"
         [routerLink]="['/starships/']">
      <div class="category-name"></div>
      <p class="category-name white">Starships</p>
      <div class="img-wrapper">
        <img src="/assets/img/starships.jpeg"
             alt="">
      </div>
    </div>
    <div class="category"
         [routerLink]="['/vehicles/']">
      <p class="category-name red">Vehicles</p>
      <div class="img-wrapper">
        <img src="/assets/img/vehicles.jpeg"
             alt="">
      </div>
    </div>
    <div class="category"
         [routerLink]="['/planets/']">
      <p class="category-name blue">Planets</p>
      <div class="img-wrapper">
        <img src="/assets/img/planets.jpeg"
             alt="">
      </div>
    </div>
  </div>
</div>
