<div class="wrapper">
  <h2>Swapi</h2>
  <div class="categories">
    <div class="category"
         [routerLink]="['/characters/']">
      <span>Characters</span>
      <div class="img-wrapper">
        <img src="/assets/img/character.jpeg"
             alt="">
      </div>
    </div>
    <div class="category">
      <span>Films</span>
      <div class="img-wrapper">
        <img src="/assets/img/films.jpeg"
             alt="">
      </div>
    </div>
    <div class="category">
      <span>Species</span>
      <div class="img-wrapper">
        <img src="/assets/img/species.jpeg"
             alt="">
      </div>
    </div>
    <div class="category">
      <span>Starships</span>
      <div class="img-wrapper">
        <img src="/assets/img/starships.jpeg"
             alt="">
      </div>
    </div>
    <div class="category">
      <span>Vehicles</span>
      <div class="img-wrapper">
        <img src="/assets/img/vehicles.jpeg"
             alt="">
      </div>
    </div>
    <div class="category">
      <span>Planets</span>
      <div class="img-wrapper">
        <img src="/assets/img/planets.jpeg"
             alt="">
      </div>
    </div>
  </div>
</div>
