<div class="wrapper">
  <div class="character">
    <div class="img-wrapper">
      <img src="{{img}}"
           alt="">
    </div>
    <div class="details">
      <h3>{{character?.name}}</h3>
      <p>Birth Year: {{character?.birth_year}}</p>
      <p>Height: {{character?.height}}</p>
      <p>Mass: {{character?.mass}}</p>
      <p>Gender: {{character?.gender}}</p>
      <p>Hair Color: {{character?.hair_color}}</p>
      <p>Skin Color: {{character?.skin_color}}</p>
      <p>Homeworld: {{character?.homeworld}}</p>
    </div>
  </div>

  <div class="additional-info">
    <div class="films">
    </div>
    <div class="vichles"></div>
    <div class="starships"></div>
  </div>

</div>
