<div class="container item-wrapper">

  <div class="navigation">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Home</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/characters']">Characters</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>{{data?.name}}</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div class="card-details">
    <div class="img-wrapper">
      <img src="{{img}}"
           alt="">
    </div>
    <div class="details">
      <h3>{{data?.name}}</h3>
      <p>Birth Year: {{data?.birth_year}}</p>
      <p>Height: {{data?.height}}</p>
      <p>Mass: {{data?.mass}}</p>
      <p>Gender: {{data?.gender}}</p>
      <p>Hair Color: {{data?.hair_color}}</p>
      <p>Skin Color: {{data?.skin_color}}</p>
      <p [routerLink]="['/planets', homeworldId]">Homeworld: Planet</p>
    </div>
  </div>

  <div class="related-blocks">
    <div class="related-wrapper">
      <div class="title">
        <h3>Related Films</h3>
        <div class="line"></div>
      </div>
      <div class="related films">
        <ng-template #indicatorTemplate><i nz-icon
             class="spiner"
             nzType="loading"></i></ng-template>
        <nz-spin nzSimple
                 nzTip="Loading..."
                 [nzIndicator]="indicatorTemplate"
                 *ngIf="isLoading"
                 [nzSize]="'large'"></nz-spin>
        <!-- <p *ngIf="message">{{message}}</p> -->
        <div class="related-content"
             *ngFor="let id of filmsId"
             [routerLink]="['/films', id]">
          <app-films-logo [id]="id"></app-films-logo>
        </div>
      </div>
    </div>

    <div class="related-wrapper">
      <div class="title">
        <h3>Related Vehicles</h3>
        <div class="line"></div>
      </div>
      <div class="related vehicles">
        <ng-template #indicatorTemplate><i nz-icon
             class="spiner"
             nzType="loading"></i></ng-template>
        <nz-spin nzSimple
                 nzTip="Loading..."
                 [nzIndicator]="indicatorTemplate"
                 *ngIf="isLoading"
                 [nzSize]="'large'"></nz-spin>
        <p *ngIf="message">{{message}}</p>
        <div class="related-content"
             *ngFor="let id of vehiclesId"
             [routerLink]="['/vehicles', id]">
          <app-vehicles-logo [id]="id"></app-vehicles-logo>
        </div>
      </div>
    </div>

    <div class="related-wrapper">
      <div class="title">
        <h3>Related Starships</h3>
        <div class="line"></div>
      </div>
      <div class="related starships">
        <ng-template #indicatorTemplate><i nz-icon
             class="spiner"
             nzType="loading"></i></ng-template>
        <nz-spin nzSimple
                 nzTip="Loading..."
                 [nzIndicator]="indicatorTemplate"
                 *ngIf="isLoading"
                 [nzSize]="'large'"></nz-spin>
        <p *ngIf="message">{{message}}</p>
        <div class="related-content"
             *ngFor="let id of starshipsId"
             [routerLink]="['/starships', id]">
          <app-starships-logo [id]="id"></app-starships-logo>
        </div>
      </div>
    </div>
  </div>
</div>
