.title {
  margin-bottom: 2rem;
  text-align: center;
}

.character {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 0.2rem;
  background-color: #fff;
  box-shadow: 0 0.3rem 0.1rem -0.2rem rgb(0 0 0 / 14%),
    0 0.2rem 0.2rem 0 rgb(0 0 0 / 10%), 0 0.1rem 0.5rem 0 rgb(0 0 0 / 8%);
  h3,
  p {
    color: black;
  }
}

.details {
  padding: 2rem;
}

.img-wrapper {
  max-width: 17.8rem;
  max-height: 28.7rem;
  img {
    width: 100%;
    height: auto;
  }
}
