<div class="wrapper">
  <h2 class="title">Characters</h2>
  <div class="cards">
    <div class="card"
         *ngFor="let character of data?.results"
         [routerLink]="['/characters', character.id]">
      <div class="img-wrapper">
        <img src="{{character.img}}"
             alt="">
      </div>
      <p class="name">{{character.name}}</p>
    </div>
  </div>
</div>

<nz-pagination [nzPageIndex]="1"
               [nzTotal]="data?.count"
               (nzPageIndexChange)="onPageIndexChange($event)"></nz-pagination>
