<div class="wrapper">
  <div class="card-details">
    <div class="img-wrapper">
      <img src="{{img}}"
           alt="">
    </div>
    <div class="details">
      <h3>{{data?.title}}</h3>
      <p>Date Created:: {{data?.created}}</p>
      <p>Director: {{data?.director}}</p>
      <p>Producer(s): {{data?.producer}}</p>
      <p>Opening Crawl: {{data?.opening_crawl}}</p>
    </div>
  </div>

  <div class="additional-info">

    <div class="common-container">
      <h3>Related Characters</h3>
      <div class="line"></div>
      <div class="common-wrapper">
        <div class="resident"
             *ngFor="let character of characterId"
             [routerLink]="['/characters', character]">

        </div>
      </div>
    </div>

    <div class="common-container">
      <h3>Related Planets</h3>
      <div class="line"></div>
      <div class="common-wrapper">
        <div class="planet"
             *ngFor="let planet of planetId"
             [routerLink]="['/planets', planet]">
        </div>
      </div>
    </div>

  </div>
</div>
