.wrapper {
  padding: 0 3rem;
  max-width: 127.6rem;

  h2 {
    text-align: center;
    margin-bottom: 3rem;
  }
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -1rem;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

  span {
    margin-bottom: 1rem;
  }

  .img-wrapper {
    width: 100%;
    height: auto;
  }
}
