<div class="container">
  <h2 class="category-title">Films</h2>
  <div class="navigation">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Home</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Films</nz-breadcrumb-item>
    </nz-breadcrumb>

  </div>
  <div class="cards">
    <div class="card"
         [routerLink]="['/films', film.id]"
         *ngFor="let film of data?.results">
      <div class="img-wrapper">
        <img src="{{film?.img}}"
             alt="photos">
      </div>
      <p>{{film?.title}}</p>
    </div>
    <div class="spiner">
      <ng-template #indicatorTemplate><i nz-icon
           nzType="loading"></i></ng-template>
      <nz-spin nzSimple
               nzTip="Loading..."
               [nzIndicator]="indicatorTemplate"
               *ngIf="isLoading"
               [nzSize]="'large'"></nz-spin>
    </div>
  </div>
</div>
